In [5]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
test_data = pd.read_csv('kc_house_test_data.csv')

In [4]:
train_data = pd.read_csv('kc_house_train_data.csv')

In [6]:
lm = LinearRegression()

In [9]:
test_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,114101516,20140528T000000,310000.0,3,1.0,1430,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.7558,-122.229,1780,12697
1,9297300055,20150124T000000,650000.0,4,3.0,2950,5000,2.0,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140,4000
2,1202000200,20141103T000000,233000.0,3,2.0,1710,4697,1.5,0,0,...,6,1710,0,1941,0,98002,47.3048,-122.218,1030,4705
3,8562750320,20141110T000000,580500.0,3,2.5,2320,3980,2.0,0,0,...,8,2320,0,2003,0,98027,47.5391,-122.070,2580,3980
4,7589200193,20141110T000000,535000.0,3,1.0,1090,3000,1.5,0,0,...,8,1090,0,1929,0,98117,47.6889,-122.375,1570,5080

In [21]:
X_test = pd.DataFrame(test_data['sqft_living'])
y_test = pd.DataFrame(test_data['price'])

In [10]:
train_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [20]:
X_train = pd.DataFrame(train_data['sqft_living'])
y_train = pd.DataFrame(train_data['price'])

In [11]:
test_data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [19]:
X_train

       sqft_living
0             1180
1             2570
2              770
3             1960
4             1680
...            ...
17379         3510
17380         1310
17381         1530
17382         1600
17383         1020

[17384 rows x 1 columns]

In [17]:
y_train

0         221900.0
1         538000.0
2         180000.0
3         604000.0
4         510000.0
           ...
17379    1007500.0
17380     475000.0
17381     360000.0
17382     400000.0
17383     325000.0
Name: price, Length: 17384, dtype: float64

In [22]:
lm.fit(X_train,y_train)

LinearRegression()

In [24]:
print(lm.coef_)

[[281.95883963]]

In [25]:
print(lm.intercept_)

[-47116.07907289]

In [26]:
train_pre = lm.predict(X_train)

In [27]:
from sklearn import metrics

In [34]:
(metrics.mean_squared_error(y_train,train_pre))*X_train.shape[0]

1201918354177283.2

In [32]:
X_train.shape[0]

17384

## Using number of bedroom to predict

In [35]:
X_train2 = pd.DataFrame(train_data['bedrooms'])
y_train2 = pd.DataFrame(train_data['price'])

In [36]:
X_test2 = pd.DataFrame(test_data['bedrooms'])
y_test2 = pd.DataFrame(test_data['price'])

In [37]:
lm2 = LinearRegression()

In [38]:
lm2.fit(X_train2,y_train2)

LinearRegression()

In [39]:
pred2= lm2.predict(X_test2)

In [43]:
metrics.mean_squared_error(y_test2,pred2)*y_test2.shape[0]

493364585960300.75

In [44]:
pred1 = lm.predict(X_test)

In [45]:
metrics.mean_squared_error(y_test,pred1) * y_test.shape[0]

275402933617812.12